<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">


  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- define various log targets -->
  <targets>
    <target xsi:type="File" name="appFile"
            fileName="${basedir}\Logs\nlog-api-current.log"
            layout="${longdate}|${aspnet-TraceIdentifier}|${logger}|${uppercase:${level}}|${aspnet-Request-Method} ${aspnet-Request-Url}?${aspnet-Request-QueryString}|user: ${aspnet-User-Identity}|${message}|${exception:format=toString}"
            maxArchiveFiles="7"
            archiveFileName="${basedir}\Logs\Archive\nlog-api-{#####}.log"
            archiveNumbering="Date"
            archiveEvery="Day" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="appFile" />
  </rules>
</nlog>